// Colors
$brown_1:  #fff5e8; $brown_2:  #fff3e4; $brown_3: #887863;
$blue_1:   #608e96; $blue_2:   #518088;
$orange_1: #ed933c; $orange_2: #ea8531;
$red_1:    #a62c2c; $red_2:    #992323;
$green_1:  #999340; $green_2:  #8b8534;